@import url("https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700,800,900");
body {
    font-family: "Roboto", sans-serif;
    background: #222;
    margin: 0;
}
.sort .select {
	font-size: 15px;
	font-weight: bold;
}
.status, 
.sort .select {
    border: none;
    border-radius: 2rem;
    box-shadow: 0 10px 5px -5px rgba(0, 0, 0, 0.3);
    transition: all 0.1s ease;
    margin: 8px;
    padding: 15px;
	display: inline-block;
}
.status:hover, 
.sort .select:hover {
    box-shadow: 0 12px 5px -5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}
.status.good {
    background: #64ce87;
    color: #1f6135;
}
.status.bad {
    background: #ff5e5e;
    color: #9c1b1b;
}
.status.unknown {
	background: #e7e7e7;
	color: #545454;
}
.sort .select {
	background: #4e61f0;
	color: #fff;
}
h1 {
    text-align: center;
    font-size: 30px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background: #000;
    margin: 0;
	box-sizing: border-box;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    color: #e7e7e7;
}
.sort {
	margin: 83px 15px 0;
	text-align: center;
}
.application {
    box-sizing: border-box;
    margin: 0 15px 15px;
	text-align: center;
}
h1,
footer,
.sort .select {
    text-transform: uppercase;
}
footer {
    font-size: 12px;
    text-align: center;
    color: #e7e7e7;
    font-weight: bold;
    margin: 0 15px 15px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
a {
    color: #e7e7e7;
    font-weight: bold;
}
::-webkit-scrollbar { 
    display: none; 
}
@media screen and (max-width: 575.98px) {
	h1 {
		font-size: 15px;
	}
}