@import url("https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700,800,900");
body {
    font-family: "Roboto", sans-serif;
    background: #222;
    margin: 0;
}
.sort .select, 
.sort .search {
	font-size: 15px;
	font-weight: bold;
}
.status, 
.sort .select, 
.sort .search {
    border: none;
    border-radius: 2rem;
    box-shadow: 0 10px 5px -5px rgba(0, 0, 0, 0.3);
    transition: all 0.1s ease;
    margin: 8px;
    padding: 15px;
	display: inline-block;
}
.status:hover, 
.sort .select:hover {
    box-shadow: 0 12px 5px -5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}
::placeholder {
	color: #fff;
	text-transform: uppercase;
}
:focus {
	outline: none;
}
.status.true {
    background: #64ce87;
    color: #1f6135;
}
.status.false {
    background: #ff5e5e;
    color: #9c1b1b;
}
.sort .select {
	background: #4e61f0;
	color: #fff;
}
.sort .search {
	background: purple;
	color: #fff;
	text-align: center;
	width: 120px;
}
h1 {
    text-align: center;
    font-size: 30px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background: #000;
    margin: 0;
	box-sizing: border-box;
    padding: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    color: #e7e7e7;
}
h1 a, footer a {
	background: #3195d5;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #19a1e2, #3195d5);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #19a1e2, #3195d5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	text-decoration: none;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
h2 {
	text-align: center;
	box-sizing: border-box;
	width: 100%;
	padding: 30px 15px 15px;
	color: #e7e7e7;
	text-transform: uppercase;
	margin: 0;
}
.no-results {
	display: none;
}
.sort {
	padding: 92px 15px 15px;
	background: rgba(0, 0, 0, 0.4);
	text-align: center;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
	display: none;
}
h2:first-of-type {
	padding-top: 107px;
}
.domains, 
.services {
    box-sizing: border-box;
	text-align: center;
	padding: 15px 15px 0;
}
h1,
footer,
.sort .select {
    text-transform: uppercase;
}
footer, 
.title {
    font-size: 12px;
    text-align: center;
    color: #e7e7e7;
    font-weight: bold;
	margin: 0 15px 15px;
}
footer {
	margin-top: 30px;
}
::-webkit-scrollbar { 
    display: none; 
}
@media screen and (max-width: 575.98px) {
	h1 {
		font-size: 15px;
	}
}