.navbar {
	background: #4e61f0;
}

.search {
	margin-bottom: 30px;
}

.input-group input, .dropdown-menu, .input-group input:focus {
	background: #16191f;
	border-style: solid;
	border-color: rgba(0, 0, 0, 0.125);
	border-width: 1px 0 1px 1px;
}

.input-group input, .input-group input::placeholder, .dropdown-menu, .form-control:focus {
	color: #9baec8;
}

.dropdown-item:hover, .dropdown-item.active {
	background: rgba(0, 0, 0, 0.2);
}

.dropdown-item:hover {
	cursor: pointer;
}

.btn:focus, .form-control:focus {
	box-shadow: none;
}

.dropdown-menu {
	margin-top: 8px;
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
}

.card a.btn, .card a.btn:hover, .input-group .btn {
	border: 0;
	color: #fff;
	font-weight: bold;
	background: #4e61f0;
	color: #222b6b;
	text-transform: capitalize;
}

.card a.btn.online {
	background: #64ce87;
	color: #1f6135;
}

.card a.btn.offline {
	background: #ff5e5e;
	color: #9c1b1b;
}

::-webkit-scrollbar { 
    display: none; 
}

.card a.btn.online, .card a.btn.offline {
	cursor: default;
}

.navbar a {
	cursor: pointer;
}

.footer a {
	color: #4e61f0;
}

.footer {
	color: #a8a8a8;
	padding: 0 30px;
}

.tab-content {
	margin-top: 30px;
}

.card {
	background: #16191f;
	color: #9baec8;
	margin-bottom: 30px;
	min-height: 136px;
}

#domains .row .btn {
	position: absolute;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
}

.footer a:hover {
	text-decoration: none;
}

.navbar-brand {
	font-weight: bold;
}

body {
	font-family: "Roboto", sans-serif;
	background: #282c37;
}

.card-title {
	color: #d9e1e8;
}