@import 'https://fonts.googleapis.com/css?family=Open+Sans';

body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.75em;
  font-size: 16px;
  background-color: #222;
  color: #aaa;
  position: relative;
}

/*.status {
  height: 50px;
  width: 200px;
}*/

div.status {
  margin: 5px;
  display: inline-table;
  padding: 15px;
}

status {
  height: 40px;
  width: 200px;
}

.status.good {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.status.bad {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.status.unknown {
  background-color: grey;
}


/* Footer */
#footer {
  width: 100%;
  padding: 16px;
  padding-bottom: 16px;
  background-color:  #222;
  color: white;
  font-weight: bold;
  font-size: 18px;
  text-align: left;
  position: fixed;    /*Here's what sticks it*/
  bottom: 0;          /*to the bottom of the body*/
  left: 0;            /*and to the left of the body.*/

  /*EFFECTS*/
  transition: .33s linear;
}

#footer:hover {
  background:#f2dede;
}