@import url("https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700,800,900");

body {
    font-family: "Roboto", sans-serif;
    background: #545454;
    margin: 0;
}

.status.good, .status.bad {
    border: none;
    border-radius: 2rem;
    box-shadow: 0 10px 5px -5px rgba(0, 0, 0, 0.3);
    transition: all 0.1s ease;
}

.status:hover {
    box-shadow: 0 12px 5px -5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.status.good {
    background: #99ff99;
    float: left;
}

.status.bad {
    float: right;
}

h1 {
    text-align: center;
    font-size: 30px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background: #000;
    margin: 0;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    color: #e7e7e7;
}

#app {
    margin: 83px 15px 15px;
    min-height: calc(100% - 158px);
}

h1, #footer {
    text-transform: uppercase;
}

#footer {
    position: static;
    box-sizing: border-box;
    font-size: 12px;
    clear: both;
}